<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
	<title>Contact</title>
</head>
<body>
<%- include('./shared/header.ejs') %>
<!-- CONTACT title (option)  --> 


<!-- CONTACT title (option)  -->

<!-- Jumbotron Area  --> 

<div class="jumbotron-c jumbotron-fluid">
    <h1 class="display-4 text-center"></h1>
    <p class="lead text-center"></p>
</div>

<!-- Jumbotron Area  -->

<!-- Mission Area  -->
<div class="container">
<div class="row g-5">
<div class="col-md-12">
      <h3 class="blog-post-title pb-2 ">
        CONTACT
      </h3>
        <p>Please feel free to email us in regards to any of our services.</p>
        <h5>General Inquiries</h5>
        <p>thomas.junior.davis@gmail.com</p>
        <br/>
        <br/>
        <p> + Just email the address listed above or click the gmail button below.</p>
        <hr>
    </div>
</div>
</div>


<br/>
<%- include('./shared/footer.ejs') %>
</body>
</html>