<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
	<title>Downloadble Content</title>
</head>
<body>
<%- include('./shared/header.ejs') %>
<!-- ABOUT title  --> 


<!-- ABOUT title  -->

<!-- Jumbotron Area  --> 

<div class="jumbotron-thunderground jumbotron-fluid">
    <h1 class="display-4 text-center"></h1>
    <p class="lead text-center"></p>
</div>

<!-- Jumbotron Area  -->

<!-- Mission Area  -->
<div class="container">
<div class="row g-5">
<div class="col-md-12">
      <h3 class="blog-post-title pb-2 ">
        DOWNLOADS
      </h3>
        <p>Check out all the free downloadable contect featured on the Thunderground. This features archives from Mein Haus and Davis. - this includes all workout
        programs, WODs, wallpapers and screensavers, etc.</p>
        <hr>
    </div>
</div>
</div>
<!-- Mission Area  -->

<main class="container">

<!-- Text Content Area  --> 

<div class="card-group mb-2">
  <div class="card">
    <img class="card-img-top" src="/images/DL-BRDS.png" alt="Bum Rush Da Spot">
    <div class="card-body">
      <h5 class="card-title text-center">BUM RUSH DA SPOT</h5>
      <p class="card-text">Bum Rush Da Spot is a(n) intermediate/advance hypertrophy trainer. The exercises, and movements, recommended in this programme are all one bodypart a day movements. Included within the makeup of this programme, is the utilization of periodization, which continually challenges your body and mind to grow, change, and surpass your apex. Its time to shatter your plateau. This is the first release of the Bomb Squad Series: BUM RUSH DA SPOT.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="https://drive.google.com/file/d/1PYvvtuhiXpaZgeyeOB5J7vH3p1Y03NpN/view?usp=share_link" target="_blank" download='Da Bum Rush'>DOWNLOAD</a></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/DL-Total.png" alt="Total Rebuild">
    <div class="card-body">
      <h5 class="card-title text-center">TOTAL REBUILD</h5>
      <p class="card-text">Total Rebuild is a(n) intermediate/advance progressive program designed specifically for my return to the gym after the pandemic. This program is an hypertrophy system blended with strength, stamina, and endurance building movements and exerciese. This program will challenge you to get back in tune with body to push pass your previous strength and endurance levels.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="https://drive.google.com/file/d/1Rdln3THN0t3yfHYTAvi6anYpTD-zSifZ/view?usp=share_link" target="_blank" download='Total Rebuild'>DOWNLOAD</a></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/DL-Formula.png" alt="The Formula">
    <div class="card-body">
      <h5 class="card-title text-center">THE FORMULA</h5>
      <p class="card-text">The Formula is a(n) advance powerlifting program. This program was inspired by, and taken directly from the teachings of, master trainer to some of the strongest and most muscular athletes in the world, Josh Bryant. This program runs 19-weeks, and with this I was able to up my bench to 420+LBs, squat to 545+LBs, Deadlift to 600+LBs, and overhead press to 285LBs. I hope this program helps you reach your goals as well. *This program does includes Deloads after every 3-4 weeks of hard training. Good Luck and Always Finish.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="https://drive.google.com/file/d/1vZl4FsgZ05CHU3NZdFLmqOqPMdk9s2DT/view?usp=share_link" target="_blank" download='The Formula'>DOWNLOAD</a></small></p>
    </div>
  </div>
</div>

<div class="card-group mb-2">
  <div class="card">
    <img class="card-img-top" src="/images/DL-Anvil.png" alt="The Anvil">
    <div class="card-body">
      <h5 class="card-title text-center">THE ANVIL</h5>
      <p class="card-text">This program is coming soon. However, the Anvil is intended to be a highly
      advanced program, combining the most hardcore powerlifting principles in the 4 lifts - bench press, squat, deadlift, and the overhead press - with the Mein Haus/Thunderground pyramiding on movements assisting those lifts. The goal of the Anvil is to make new strength PRs, while sculpting out a lean, hard physique with endurance to go with it.</p>
    </div>
    <div class="card-footer">
      <p  align="center" style="margin-top: 6px;"><small class="text-muted "><a>COMING SOON</a></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/DL-PI.png" alt="Project Iron">
    <div class="card-body">
      <h5 class="card-title text-center">PROJECT IRON</h5>
      <p class="card-text">Project Iron is a(n) beginner/intermediate hypertrophy trainer. The exercises, and movements, recommended in this programme are for anyone whose been away from the gym due to a long layoff, or injury. Although, it is presented as a starter program, please realize that this program ramps up in intensity and difficulty very quickly. Released originally on under my old blogsite Mein Haus, Project Iron marked my return to basics. I usually love incorporating principles of hypertrophy, periodization, and DTP, all simple yet can build in complexity when factoring in quality recovery time and max effort lifts. Project Iron was my way of incorporating the 3 main lifts into make programing and finding a sweet spot for all my guilty pleasures in a workout regimen. I hope this program can help you make gains as well.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="https://drive.google.com/file/d/18igK9ds9Vd7ZR_BT1DVf7qXxjAd6dfOs/view?usp=share_link" target="_blank" download='Project Iron'>DOWNLOAD</a></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/DL-Mythos.png" alt="The Mythos">
    <div class="card-body">
      <h5 class="card-title text-center">MYTHOS</h5>
      <p class="card-text">The Mythos is strictly a power programme. In this you will find seven weeks of workouts meant to get you strength gains. This programme leaves it to you to decide your active rest and rest days.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="https://drive.google.com/file/d/18vTxDDNmYjzF8qfGoN-zXsdO727PCFj9/view?usp=share_link" target="_blank" download='The Mythos'>DOWNLOAD</a></small></p>
    </div>
  </div>
</div>

<div class="card-group mb-2">
  <div class="card">
    <img class="card-img-top" src="/images/DL-Typhon.png" alt="The Typhon">
    <div class="card-body">
      <h5 class="card-title text-center">THE TYPHON: KING OF ALL MONSTERS</h5>
      <p class="card-text">The Typhon is a(n) intermediate program designed to invoke periodization for the user while utilizing short rest periods intervals between workouts. Originally released on Mein Haus, The Typhon was originally a journaling of my gym workouts from day-to-day. The main goal with The Typhon was to experiment with a constant, and consistent, strength periodization, from week-to-week.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="https://drive.google.com/file/d/1OeKmAdfd3hsCeX0R5cbGzjOCBkhLpH9D/view?usp=share_link" target="_blank" download='The Typhon'>DOWNLOAD</a></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/DL-DemolitionUnit.png" alt="The Demolition Unit">
    <div class="card-body">
      <h5 class="card-title text-center">DEMOLITION UNIT</h5>
      <p class="card-text">The Demolition Unit 4 Week Trainer: Strength and Power Programme is geared towards the beginner/intermediate looking to ramp up their current gym workout regimen. These workouts are performed in splits - meaning two body parts, for example, chest and triceps for Monday. Each exercise movement is specifically chosen for the purpose of building an individual’s strength and power of output when performing these lifts, so channel all your intensity into each repetition. This programme will deliver, there’s no doubt in our minds; however, it is up to you to apply maximum effort and commit to each day.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="https://drive.google.com/file/d/1jQ9HkKs_WFTlXM3VcNKtXGZ8BloLWB24/view?usp=share_link" target="_blank" download='The Demolition Unit'>DOWNLOAD</a></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/DL-Miura.png" alt="The Miura">
    <div class="card-body">
      <h5 class="card-title text-center">MIURA</h5>
      <p class="card-text">Miura is a(n) intermediate program designed specifically for individuals returning from a injury. This program is an hypertrophy, mostly, blended with muscular endurance and stamina building workouts. This program will challenge you to get back in tune with body to push to new PRs and levels of strength. Miura is an 8 week periodization training programme, that I created when I was injured with a broken humerus. The intent of this program was to return me back my base strength; so alot of the movements included are the basics.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="https://drive.google.com/file/d/13_JfVcidPZaqFYHlYCKNzCabwXpCI-be/view?usp=share_link" target="_blank" download='The Miura'>DOWNLOAD</a></small></p>
    </div>
  </div>

  <div class="card-group mb-2">
  <div class="card">
    <img class="card-img-top" src="/images/DL-PLH.png" alt="The Presslufthammer">
    <div class="card-body">
      <h5 class="card-title text-center">PRESSLUFTHAMMER</h5>
      <p class="card-text">The Presslufthammer(Jackhammer) Programme is a highly advance, and challenging program designed specifically for individuals looking to break plateaus while gaining strength, and putting on lean hard muscle. This program is not for beginners and will challenge you to adopt different techniques to your weight training method.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="https://drive.google.com/file/d/1p76zsC1FOIy5jCpnSzPqiS6qH6ent9Mn/view?usp=share_link" target="_blank" download='The Presslufthammer'>DOWNLOAD</a></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/DL-SMITH.png" alt="The Smith: Hammer Series">
    <div class="card-body">
      <h5 class="card-title text-center">THE SMITH: HAMMER SERIES, VOLUME ONE</h5>
      <p class="card-text">The Smith is a(n) advance program that is a highly intensive 65 day workout routine that caters to the true nature of the Thunderground, pushing yourself constantly, knowing your body and when to rest, and wanting nuance to your programming. The Smith is a bit unconventional in the way it is listed, but its results are proven. 65 days hard.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="https://drive.google.com/file/d/1uAQ_kw2B0WX_MTXn-Z7rGDVm2GPc9P09/view?usp=share_link" target="_blank" download='The Hammer Series'>DOWNLOAD</a></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/DL-Beast.png" alt="Beast Modus">
    <div class="card-body">
      <h5 class="card-title text-center">Beast Modus</h5>
      <p class="card-text">Beast Modus is an much, much, older workout regimen predating Mein Haus and Davis. Beast Modus is 12 days of hardcore workouts made to increase both strength and endurance.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="https://drive.google.com/file/d/1ZpFS6X0GCLmlMLxY7SVP5GFHM_393tan/view?usp=share_link" target="_blank" download='Beast Modus'>DOWNLOAD</a></small></p>
    </div>
  </div>

   <div class="card-group mb-2">
  <div class="card">
    <img class="card-img-top" src="/images/DL-PLH_prototype.png" alt="Presslufthammer Prototype">
    <div class="card-body">
      <h5 class="card-title text-center">PRESSLUFTHAMMER: Prototype Edition</h5>
      <p class="card-text">This is the earliest rendering of what would go onto become the Presslufthammer Programme. Although very primitive in its appearance and layout, this rendering is style hardcore and advance for lifters looking to push themselves further.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="https://drive.google.com/file/d/1HrXefUXqBD7EAPryBlDM-_VVZ20r0YyJ/view?usp=share_link" target="_blank" download='Presslufthammer Prototype'>DOWNLOAD</a></small></p>
    </div>
  </div>
</div>

<!-- Text Content Area -->

</main>

<br/>
<%- include('./shared/footer.ejs') %>
</body>
</html>