<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
	<title>Goons & Guerrillas</title>
</head>
<body>
<%- include('./shared/header.ejs') %>
<!-- CONTACT title (option)  --> 


<!-- CONTACT title (option)  -->

<!-- Jumbotron Area  --> 

<div class="jumbotron-goon jumbotron-fluid">
    <h1 class="display-4 text-center"></h1>
    <p class="lead text-center"></p>
</div>

<!-- Jumbotron Area  -->

<!-- Mission Area  -->
<div class="container">
<div class="row g-5">
<div class="col-md-12">
      <h3 class="blog-post-title pb-2 ">
        Goons and Guerrillas
      </h3>
      <p><em>"By Any Means"</em></p>
        <p>The sole philosophy of Goons and Guerrillas is a direct reflection of the grit, determination, and drive that exist within all of us; yet, so few of us ever choose to tap into. Just the title itself describes everyone, and anyone, in the world who is obsessed with obtaining their vision: 1) The Goon - any individual who just goes out and do 2) The Guerrilla - any individual who goes out and do with an overall strategy, and plan. Which ever camp you fall into know that we are all united by doing whatever it takes to achieve our goals by any means.
        </p>
        <p>This apparel line, which is produced in-house, in limited handprinted capacity will feature t-shirts showcasing original, and unique, graphics, phrases, and ideas that capture the complete spirit of Goons and Guerrillas, as well as, the legacy of physical,gym, culture and its impact on pop culture and the world.
        </p>
        <p style="font-size: large;" class="text-center"><strong>More information on Goons and Guerrillas availability coming soon.</strong></p>
        <hr>
    </div>
</div>
</div>


<br/>
<%- include('./shared/footer.ejs') %>
</body>
</html>