<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
	<title>About the Thunderground</title>
</head>
<body>
<%- include('./shared/header.ejs') %>

<!-- ABOUT title  --> 


<!-- ABOUT title  -->

<!-- Jumbotron Area  --> 

<div class="jumbotron-a jumbotron-fluid">
    <h1 class="display-4 text-center"></h1>
    <p class="lead text-center"></p>
</div>

<!-- Jumbotron Area  -->

<!-- Mission Area  -->
<div class="container">
<div class="row g-5">
<div class="col-md-12">
      <h3 class="blog-post-title pb-2 ">
        ABOUT THE THUNDERGROUND
      </h3>
        <p>Thunderground is intended to be my personal fitness journal(bodybuilding, powerbuilding, powerlifiting, and strongman) documenting my trials and 
        errors in the world of weightlifting. I, personally, don't believe in the typical workouts
      because it only renders typical results; to me, each, and every, workout must challenge you in
    time under tension, intensity, power output, endurance, and recovery between sets, as well as workouts - that's how you achieve the best results - PERIOD. And, when these challenging workouts
  start to become easy, or less of a challenge, its time to move further albeit, in sets, reps, tempo,
and even overall movements; but the end goal must remain the same, to finish your intended journey whether that is to benchpress 500+LBS, deadlift 700+LBS, or squat 900+LBS. YOU PERFORM. YOU PREVAIL.
YOU PERSIST.</p>
      <p>This site, Thunderground, is intended to show my journey as well as house
      all my previous content (bodybuilding, powerbuilding, and strength and endurance programs) that
    is free for your usage to help you along in your journey.</p>
    <p>PEACE + NEVER SETTLE.</p>
        <hr>
    </div>
</div>
</div>
<!-- Mission Area  -->

<main class="container">

<!-- Text Content Area  --> 

</main>

<!-- Text Content Area -->

<br/>
<%- include('./shared/footer.ejs') %>
</body>
</html>