<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
	<title>Thunderground Programs - POWERBUILDING</title>
</head>
<body>
<%- include('./shared/header.ejs') %>
<!-- ABOUT title  --> 


<!-- ABOUT title  -->

<!-- Jumbotron Area  --> 

<div class="jumbotron-dvs jumbotron-fluid">
    <h1 class="display-4 text-center"></h1>
    <p class="lead text-center"></p>
</div>

<!-- Jumbotron Area  -->

<!-- Mission Area  -->
<div class="container">
<div class="row g-5">
<div class="col-md-12">
      <h3 class="blog-post-title pb-2 ">
        THUNDERGROUND POWERBUILDING PROGRAMS
      </h3>
        <p>These programs are intended for those looking build strength and power. Yes, the workouts themselves may run shorter than in other programs, however, intensity, tempo, proper recover, and mind and muscle connection is required to reap full benefit from these programs.</p>
        <hr>
    </div>
</div>
</div>
<!-- Mission Area  -->

<main class="container">

<!-- Text Content Area  --> 

<div class="card-group mb-2">
  <div class="card">
    <img class="card-img-top" src="/images/DL-PI.png" alt="Project Iron">
    <div class="card-body">
      <h5 class="card-title text-center">PROJECT IRON</h5>
      <p class="card-text">Project Iron is a(n) beginner/intermediate hypertrophy trainer. The exercises, and movements, recommended in this programme are for anyone whose been away from the gym due to a long layoff, or injury. Although, it is presented as a starter program, please realize that this program ramps up in intensity and difficulty very quickly. Released originally on under my old blogsite Mein Haus, Project Iron marked my return to basics. I usually love incorporating principles of hypertrophy, periodization, and DTP, all simple yet can build in complexity when factoring in quality recovery time and max effort lifts. Project Iron was my way of incorporating the 3 main lifts into make programing and finding a sweet spot for all my guilty pleasures in a workout regimen. I hope this program can help you make gains as well.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="/images/09-ProjectIron-RD.pdf" target="_blank" download='Project Iron'>DOWNLOAD</a></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/DL-Formula.png" alt="Davis. The Formula">
    <div class="card-body">
      <h5 class="card-title text-center">THE FORMULA</h5>
      <p class="card-text">The Formula is a(n) advance powerlifting program. This program was inspired by, and taken directly from the teachings of, master trainer to some of the strongest and most muscular athletes in the world, Josh Bryant. This program runs 19-weeks, and with this I was able to up my bench to 420+LBs, squat to 545+LBs, Deadlift to 600+LBs, and overhead press to 285LBs. I hope this program helps you reach your goals as well. *This program does includes Deloads after every 3-4 weeks of hard training. Good Luck and Always Finish.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="/images/010-TheFormula-RD.pdf" target="_blank" download='The Formula'>DOWNLOAD</a></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/DL-Total.png" alt="Total Rebuild Cover">
    <div class="card-body">
      <h5 class="card-title text-center">TOTAL REBUILD</h5>
      <p class="card-text">Total Rebuild is a(n) intermediate/advance progressive program designed specifically for my return to the gym after the pandemic. This program is an hypertrophy system blended with strength, stamina, and endurance building movements and exerciese. This program will challenge you to get back in tune with body to push pass your previous strength and endurance levels.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="/images/05-TotalRebuild-RD.pdf" target="_blank" download='Total Rebuild'>DOWNLOAD</a></small></p>
    </div>
  </div>
</div>

<div class="card-group mb-2">
  <div class="card">
    <img class="card-img-top" src="/images/DL-Mythos.png" alt="The Mythos">
    <div class="card-body">
      <h5 class="card-title text-center">MYTHOS</h5>
      <p class="card-text">The Mythos is strictly a power programme. In this you will find seven weeks of workouts meant to get you strength gains. This programme leaves it to you to decide your active rest and rest days.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="/images/04-TheMythos-updated.pdf" target="_blank" download='The Mythos'>DOWNLOAD</a></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/DL-DemolitionUnit.png" alt="The Demolition Unit">
    <div class="card-body">
      <h5 class="card-title text-center">DEMOLITION UNIT</h5>
      <p class="card-text">The Demolition Unit 4 Week Trainer: Strength and Power Programme is geared towards the beginner/intermediate looking to ramp up their current gym workout regimen. These workouts are performed in splits - meaning two body parts, for example, chest and triceps for Monday. Each exercise movement is specifically chosen for the purpose of building an individual’s strength and power of output when performing these lifts, so channel all your intensity into each repetition. This programme will deliver, there’s no doubt in our minds; however, it is up to you to apply maximum effort and commit to each day.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="/images/07-DemolitionUnit-RD.pdf" target="_blank" download='The Demolition Unit'>DOWNLOAD</a></small></p>
    </div>
  </div>
</div>

<!-- Text Content Area -->

</main>

<br/>
<%- include('./shared/footer.ejs') %>
</body>
</html>