<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
	<title>Welcome to the Thunderground</title>
</head>
<body>
<%- include('./shared/header.ejs') %>
<!-- Jumbotron Area  --> 

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4 text-center"></h1>
    <p class="lead text-center"></p>
</div>

<!-- Jumbotron Area  -->

<!-- Mission Area  -->
<div class="container">
<div class="row g-5">
<div class="col-md-12">
      <h3 style="font-size: xx-large;" class="pb-2 text-center">
        MEIN HAUS IS NOW THE THUNDERGROUND.
      </h3>
      <div>
        <video controls autoplay="false" src="/images/TG-site-video.mp4"></video>
      </div><br/>
        <p class="text-center">The Thunderground is the dungeon, the laboratory, where all
        the hard work is done, and the grit mindset is initialized. The rules of the Thunderground
      are simple PERFORM, PREVAIL, and PERSIST.</p>
      <p class="text-center">NEVER DO ORDINARY IN THE THUNDERGROUND.</p>
      
    </div>
</div>
</div>
<!-- Mission Area  -->

<main class="container">

<!-- Logo Iconography Area  --> 


<!-- Logo Iconography Area  --> 



<!-- Text Content Area  --> 

  <div class="row g-5">
    <div class="col-md-12">
      <h3 class="pb-3 mb-3  border-bottom text-center">
        <hr/>
        AREAS OF FOCUS
      </h3>

      <article class="blog-post">
        <p class="blog-post-meta"></a></p>

        <p>There's a wide assortment of training programs and regimens available in the 
        Thunderground for <span style="text-transform:uppercase;">free</span> to help you achieve your goal albeit bodybuilding, powerbuilding, powerlifting, strength, and endurance
      training.</p>
        <hr>
        <div class="card-group mb-2">
  <div class="card">
    <a href="/api/pages/meinhaus"><img class="card-img-top" src="/images/0AOF-1-MH.png" alt="MEIN HAUS FITNESS SERIES"></a>
    <div class="card-body">
      <h5 class="card-title">Thunderground Bodybuilding Programs</h5>
      <p class="card-text">These programs and regimens are not gym bro programs, Thunderground programs
      incorporate elements of hypertrophy, periodization, recovery, and intensity. Please note that
    these programs are for the intermediate and advance crowd, pace yourself.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted"><a href="/api/pages/meinhaus">CHECK IT OUT</a></small></p>
    </div>
  </div>
  <div class="card">
    <a href="/api/pages/davis"><img class="card-img-top" src="/images/0AOF-3-TGS.png" alt="Thunderground Strength Series"></a>
    <div class="card-body">
      <h5 class="card-title">Thunderground Strength Training Programs</h5>
      <p class="card-text">These programs are intended for those looking build strength and power. Yes, the workouts themselves may run shorter than in other programs, however, intensity, tempo, proper recover, and mind and muscle connection is required to reap full benefit from these programs.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="/api/pages/davis">CHECK IT OUT</a></small></p>
    </div>
  </div>
  <div class="card">
    <a href="/api/pages/thunderground"><img class="card-img-top" src="/images/0AOF-2-DVS.png" alt="DAVIS. STRENGTH AND POWER SERIES"></a>
    <div class="card-body">
      <h5 class="card-title">Thunderground Powerlifting Programs</h5>
      <p class="card-text">These programs are intended for the intermediate and advance crowds because
      it does require you to be true to your strength level, now, and where you wish be at the end of program. KNOW, you have to be discipline and honest to kill these programs.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="/api/pages/thunderground">CHECK IT OUT</a></small></p>
    </div>
  </div>
</div>
    </div>
</main>

<!-- Text Content Area -->

<br/>
<%- include('./shared/footer.ejs') %>
</body>
</html>