<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
	<title>Mein Haus Archive Programs</title>
</head>
<body>
<%- include('./shared/header.ejs') %>
<!-- ABOUT title  --> 


<!-- ABOUT title  -->

<!-- Jumbotron Area  --> 

<div class="jumbotron-mh jumbotron-fluid">
    <h1 class="display-4 text-center"></h1>
    <p class="lead text-center"></p>
</div>

<!-- Jumbotron Area  -->

<!-- Mission Area  -->
<div class="container">
<div class="row g-5">
<div class="col-md-12">
      <h3 class="blog-post-title pb-2 ">
        MEIN HAUS AUTHENTIC ATHLETHIC BODYBUILDING PROGRAMS
      </h3>
        <p>These programs and regimens are not gym bro programs, Thunderground programs incorporate elements of hypertrophy, periodization, recovery, and intensity. Please note that these programs are for the intermediate and advance crowd, pace yourself.</p>
        <hr>
    </div>
</div>
</div>
<!-- Mission Area  -->

<main class="container">

<!-- Text Content Area  --> 

<div class="card-group mb-2">
  <div class="card">
    <img class="card-img-top" src="/images/DL-BRDS.png" alt="Bum Rush Cover">
    <div class="card-body">
      <h5 class="card-title text-center">BUM RUSH DA SPOT</h5>
      <p class="card-text">Bum Rush Da Spot is a(n) intermediate/advance hypertrophy trainer. The exercises, and movements, recommended in this programme are all one bodypart a day movements. Included within the makeup of this programme, is the utilization of periodization, which continually challenges your body and mind to grow, change, and surpass your apex. Its time to shatter your plateau. This is the first release of the Bomb Squad Series: BUM RUSH DA SPOT.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="/images/08-DaBumRush-RD.pdf" target="_blank" download='Da Bum Rush'>DOWNLOAD</a></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/DL-Typhon.png" alt="Typhon Cover">
    <div class="card-body">
      <h5 class="card-title text-center">THE TYPHON: KING OF ALL MONSTERS</h5>
      <p class="card-text">The Typhon is a(n) intermediate program designed to invoke periodization for the user while utilizing short rest periods intervals between workouts. Originally released on Mein Haus, The Typhon was originally a journaling of my gym workouts from day-to-day. The main goal with The Typhon was to experiment with a constant, and consistent, strength periodization, from week-to-week.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="/images/06-TheTyphon-RD.pdf" target="_blank" download='The Typhon'>DOWNLOAD</a></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/DL-PLH.png" alt="Presslufthammer Cover">
    <div class="card-body">
      <h5 class="card-title text-center">PRESSLUFTHAMMER</h5>
      <p class="card-text">The Presslufthammer(Jackhammer) Programme is a highly advance, and challenging program designed specifically for individuals looking to break plateaus while gaining strength, and putting on lean hard muscle. This program is not for beginners and will challenge you to adopt different techniques to your weight training method.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="/images/03_JackHammer-compressed.pdf" target="_blank" download='The Presslufthammer'>DOWNLOAD</a></small></p>
    </div>
  </div>
</div>

</div>

<!-- Text Content Area -->

</main>

<br/>
<%- include('./shared/footer.ejs') %>
</body>
</html>