<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
	<title>Thunderground Programs - POWERLIFTING</title>
</head>
<body>
<%- include('./shared/header.ejs') %>
<!-- ABOUT title  --> 


<!-- ABOUT title  -->

<!-- Jumbotron Area  --> 

<div class="jumbotron-tgs jumbotron-fluid">
    <h1 class="display-4 text-center"></h1>
    <p class="lead text-center"></p>
</div>

<!-- Jumbotron Area  -->

<!-- Mission Area  -->
<div class="container">
<div class="row g-5">
<div class="col-md-12">
      <h3 class="blog-post-title pb-2 ">
        DAVIS. POWERLIFTING PROGRAMS
      </h3>
        <p>These programs are intended for the intermediate and advance crowds because it does require you to be true to your strength level, now, and where you wish be at the end of program. KNOW, you have to be discipline and honest to kill these programs.</p>
        <hr>
    </div>
</div>
</div>
<!-- Mission Area  -->

<main class="container">

<!-- Text Content Area  --> 

<div class="card-group mb-2">
  <div class="card">
    <img class="card-img-top" src="/images/DL-Anvil.png" alt="The Anvil">
    <div class="card-body">
      <h5 class="card-title text-center">THE ANVIL</h5>
      <p class="card-text">This program is coming soon. However, the Anvil is intended to be a highly
      advanced program, combining the most hardcore powerlifting principles in the 4 lifts - bench press, squat, deadlift, and the overhead press - with the Mein Haus/Thunderground pyramiding on movements assisting those lifts. The goal of the Anvil is to make new strength PRs, while sculpting out a lean, hard physique with endurance to go with it.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a>DOWNLOAD</a></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/DL-Miura.png" alt="The Miura">
    <div class="card-body">
      <h5 class="card-title text-center">MIURA</h5>
      <p class="card-text">Miura is a(n) intermediate program designed specifically for individuals returning from a injury. This program is an hypertrophy, mostly, blended with muscular endurance and stamina building workouts. This program will challenge you to get back in tune with body to push to new PRs and levels of strength. Miura is an 8 week periodization training programme, that I created when I was injured with a broken humerus. The intent of this program was to return me back my base strength; so alot of the movements included are the basics.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="/images/01_Miura.pdf" target="_blank" download='The Miura'>DOWNLOAD</a></small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/DL-SMITH.png" alt="The Smith: Hammer Series, Volume One">
    <div class="card-body">
      <h5 class="card-title text-center">THE SMITH: HAMMER SERIES, VOLUME ONE</h5>
      <p class="card-text">The Smith is a(n) advance program that is a highly intensive 65 day workout routine that caters to the true nature of the Thunderground, pushing yourself constantly, knowing your body and when to rest, and wanting nuance to your programming. The Smith is a bit unconventional in the way it is listed, but its results are proven. 65 days hard.</p>
    </div>
    <div class="card-footer">
      <p align="center" style="margin-top: 6px;"><small class="text-muted "><a href="/images/02_Hammer-RD.pdf" target="_blank" download='The Hammer Series'>DOWNLOAD</a></small></p>
    </div>
  </div>
</div>

</div>

<!-- Text Content Area -->

</main>

<br/>
<%- include('./shared/footer.ejs') %>
</body>
</html>